header {
    text-align: center;
    font-size: large;
    /* background-color: gray; */
    height: 50px;
}

footer {
    text-align: center;
    font-size: large;
    /* background-color: gray; */
    height: 50px;
}